<div class="prototype">
    <%= link_to (image_tag prototype.image), prototype_path(prototype.id), method: :get %>
  <div class="prototype__body">
    <%= link_to prototype.title, prototype_path(prototype.id), method: :get %>
    <p class="prototype__summary">
      <%= link_to prototype.catch_copy, prototype_path(prototype.id), method: :get %>
    </p>
    <%= link_to prototype.user.name, user_path(prototype.user), method: :get %>
  </div>
</div>